const bool isProduction = bool.fromEnvironment('dart.vm.product');

const variablesDev = {
  'apiBaseUri': '',
  'apiTokenUri': '',
  'apiUsername': '',
  'apiPassword': '',
};

const variablesProd = {
  'apiBaseUri': '',
  'apiTokenUri': '',
  'apiUsername': '',
  'apiPassword': '',
};

const environment = isProduction ? variablesProd : variablesDev;
